body {
    margin: 0;
    padding: 0;
    position: relative;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: Blippo;
    src: url(../fonts/Blippo.ttf);
}

@font-face {
    font-family: Playbill;
    src: url(../fonts/Playbill.ttf)
}
