.mainContainer {
    width: 100%;
    background-color: $color--light--bg;
    position: absolute;
    top: 55vh;
    left: 0;
}

.mainContainer__container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background-color: $color--light--bg;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: $desktop--min--width) {
    .mainContainer__container {
        max-width: 100%;
    }
    .mainContainer__logoContainer {
        width: 300px;
        height: 300px;
        top: -150px;
    }

    .mainContainer__logoBg {
        height: 200px;
    }
}
