.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 60px;
}

.menu__container {
    width: 100%;
    margin: 30px 0;
}

.menu__meat {
    font-family: $font--menu--ingredients;
    text-align: justify;
    padding: 30px;
    font-size: 16px;
    border: 5px dotted $color--dark;
    margin-top: 30px;
    width: 100%;
}

.menu__burger {
    width: 100%;
    padding: 20px 30px;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr 1fr;
    align-items: center;
    &:nth-child(2n) {
        background-color: $color--dark;
        color: $color--light--bg;
    }
}

.menu__burger--special, .menu__burger--notABurger {
    grid-template: auto / 4fr 1fr;
    border: 5px dotted $color--light--bg;
}

.menu__name {
    margin: 0;
    font-family: $font--menu--name;
    font-size: 28px;
    text-transform: capitalize;
}

.menu__ingredients {
    font-family: $font--menu--ingredients;
    font-size: 14px;
    grid-column-end: span 3;
    text-align: justify;
}

.menu__price {
    font-family: $font--menu--name;
    font-weight: 600;
    font-size: 22px;
    text-align: right;
    position: relative;
}

.menu__price--small::before, .menu__price--big::before {
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 10px;
}

.menu__price--small::before {
    content: '100g';
}

.menu__price--big::before{
    content: '200g';
}

@media (min-width: $desktop--min--width) {
    .menu {
        margin-bottom: 50px;
    }
    .menu__container {
        max-width: 900px;
        margin: 30px 0;
    }
    .menu__name {
        font-size: 32px;
    }
    .menu__ingredients {
        font-size: 16px;
        text-align: justify;
        grid-column-end: auto;
    }
    .menu__price {
        font-weight: 900;
        font-size: 30px;
        grid-row-end: span 2;
        text-align: right;
        position: relative;
    }

    .menu__meat {
        font-size: 20px;
        border: 5px dotted $color--dark;
        max-width: 600px;
        margin-top: 60px;
    }
}
