.nav {
    font-size: 22px;
    background-color: $color--dark;
    color: $color--light--bg;
    width: 100%;
    font-family: $font--menu--name;
    font-weight: 900;
    padding-top: 60px;
    transition: cubic-bezier(0.42, 0, 0.54, 1.82) .6s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px 30px;
    border-bottom: 4px dotted $color--light--bg;
    &:first-child {
        border-top: 4px dotted $color--light--bg;
    }
}

.nav__item--fanpage {
    flex-direction: column;
    align-items: flex-start;
}

.nav__fanpage {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.nav__fanpageContainer {
    margin: 20px;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

.nav__fanpageContainer--hidden {
    display: none;
}

.nav__icon {
    margin-right: 10px;
}

.nav--hidden {
    top: -100%;
}

@media (min-width: $desktop--min--width) {
    .nav {
        display: none;
    }
}

@media print {
    .nav {
        display: none;
    }
}
