body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Blippo;
  src: url(../fonts/Blippo.ttf);
}
@font-face {
  font-family: Playbill;
  src: url(../fonts/Playbill.ttf);
}
.slider__container {
  width: 100%;
  height: 60vh;
  position: relative;
  background-color: #000;
}

.slider__slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.5s;
}

.slider__slide--hidden {
  opacity: 0;
}

.mainContainer {
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 60vh;
  left: 0;
}

.mainContainer__container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  background-color: #fff;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer__logoContainer {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer__logo {
  max-width: 80%;
  max-height: 80%;
  margin-top: -15px;
}

.mainContainer__logoBg {
  height: 100px;
}

.header__container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 54px;
  height: 50px;
  font-family: "Blippo";
  text-transform: uppercase;
}
.header__container::before, .header__container::after {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: black;
}
.header__container::before {
  top: -9px;
}
.header__container::after {
  bottom: 0px;
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.header__text--small {
  font-size: 24px;
  line-height: 1.05rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu__container {
  width: 100%;
  margin: 30px 0;
}

.menu__burger {
  width: 100%;
  padding: 20px 30px;
  display: grid;
  grid-template: auto/3fr 1fr 1fr;
  align-items: center;
}
.menu__burger:nth-child(2n) {
  background-color: #000;
  color: #fff;
}

.menu__burger--special, .menu__burger--notABurger {
  grid-template: auto/4fr 1fr;
  border: 5px dotted #fff;
}

.menu__name {
  margin: 0;
  font-family: "Montserrat";
  font-size: 28px;
  text-transform: capitalize;
}

.menu__ingredients {
  font-family: "Montserrat";
  font-size: 14px;
  grid-column-end: span 3;
  text-align: justify;
}

.menu__price {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 22px;
  text-align: right;
}

.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.kontakt__choicesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 100%;
}

.kontakt__choiceContainer {
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  text-align: center;
  position: relative;
  width: 50%;
  cursor: pointer;
  height: 350px;
}

.kontakt__choiceContainer--active {
  opacity: 1;
  background-color: #000;
  color: #fff;
}
.kontakt__choiceContainer--active::after {
  content: " ";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  background-color: #000;
  z-index: 2;
  transform: rotate(45deg);
}

.kontakt__header {
  font-family: "Montserrat";
  margin: 0;
  height: 3rem;
  display: flex;
  align-items: center;
}

.kontakt__address {
  font-family: "Montserrat";
  margin: 10px 0;
}

.kontakt__callAndCollect {
  font-family: "Montserrat";
  font-size: 14px;
  border: 4px dotted #fff;
  padding: 5px 10px;
  margin: 10px 0;
}

.kontakt__openingHours {
  margin-top: 10px;
}

.kontakt__textBig {
  font-family: "Montserrat";
  font-size: 20px;
  margin-top: 6px;
}

.kontakt__textSmall {
  font-family: "Montserrat";
  font-size: 14px;
}

.kontakt__mapsContainer {
  width: 100%;
  position: relative;
}

.map {
  width: 100%;
  height: 50vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.5s;
}

.map--hidden {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
